#!/usr/bin/env bash
# {{ ansible_managed }}

ip route list > /var/log/container-{{ inventory_hostname }}-routes.log
ip a list > /var/log/container-{{ inventory_hostname }}-links.log
ps auxfww > /var/log/container-{{ inventory_hostname }}-process.log
cat /etc/resolv.conf > /var/log/container-{{ inventory_hostname }}-resolvers.log
systemd-resolve --statistics > /var/log/container-{{ inventory_hostname }}-resolver-statistics.log
hostnamectl status > /var/log/container-{{ inventory_hostname }}-hostname-status.log
systemctl status nspawn* > /var/log/container-{{ inventory_hostname }}-nspawn-general-status.log
systemctl status systemd-nspawn* > /var/log/container-{{ inventory_hostname }}-nspawn-container-status.log
journalctl -u dnsmasq-mv-nspawn0 -n 1024 > /var/log/container-{{ inventory_hostname }}-nspawn-dnsmasq-mv-nspawn0.log

# This script collects details and exits. It will always return 0
true
