# {{ ansible_managed }}

[Unit]
Description=test networks service
After=syslog.target
After=network.target

[Service]
Type=oneshot
User=root
RemainAfterExit=yes

{% set seen_start_interfaces = [] %}
{% for item in bridges %}
{%   if item is not mapping %}
{%     set item = {'name': item} %}
{%   endif %}
{%   if item.name not in seen_start_interfaces %}
{%     set _ = seen_start_interfaces.append(item.name) %}

# Interface [{{ item.name }}]
ExecStart=-/sbin/ip link add dev "{{ item.name }}" type bridge
ExecStart=-/sbin/ip link set dev "{{ item.name }}" up
{%     if item.address is defined and item.netmask is defined %}
ExecStart=-/sbin/ip address add "{{ item.address }}/{{ item.netmask }}" dev "{{ item.bridge }}"
{%     endif %}
{%     if item.veth_peer is defined %}
ExecStart=-/sbin/ip link add "{{ item.name }}-veth" type veth peer name "{{ item.veth_peer }}"
ExecStart=-/sbin/ip link set "{{ item.name }}-veth" up
ExecStart=-/sbin/ip link set "{{ item.veth_peer }}-veth" up
ExecStart=-/sbin/ip link set dev "{{ item.name }}-veth" master "{{ item.name }}"
ExecStop=-/sbin/ip link delete dev "{{ item.veth_peer }}-veth"
ExecStop=-/sbin/ip link delete dev "{{ item.name }}-veth"
{%     endif %}
{%   endif %}
ExecStop=-/sbin/ip link delete dev "{{ item.name }}"

{% endfor %}

[Install]
WantedBy=multi-user.target
