---
- name: "install dependencies on pyhsical host"
  delegate_to: "{{ physical_host }}"
  package:
    name: [ 'systemd-container', 'debootstrap', 'libnss-mymachines' ]
  # needs when and other distros
- service:
    name: systemd-networkd
    state: started
    enabled: yes
  delegate_to: "{{ physical_host }}"
- service:
    name: systemd-resolved
    state: started
    enabled: yes
  delegate_to: "{{ physical_host }}"
