handlers:
  - name: restart systemd-resolved
    service:
      name: systemd-resolved
      state: restarted
  - name: restart systemd-networkd
    service:
      name: systemd-networkd
      state: restarted
  - name: restart ssh
    service:
      name: ssh
      state: restarted
  - name: restart avahi-daemon
    service:
      name: avahi-daemon
      state: restarted
