# {{ ansible_managed }}

[Exec]
PrivateUsers=no
Boot=on
{% if deployment_environment_variables is defined %}
{%   for key, value in deployment_environment_variables.items() %}
Environment={{ key }}={{ value }}
{%   endfor %}
{% endif %}
MachineID={{ systemd_escape.stdout | to_uuid }}

[Files]
{% for ro_bind in container_default_ro_bind_mounts | union(container_ro_bind_mounts | default([])) %}
BindReadOnly={{ ro_bind.host_path }}:{{ ro_bind.container_path | default(ro_bind.host_path) }}
{% endfor %}
{% for bind in container_default_bind_mounts | union(container_bind_mounts | default([])) %}
Bind={{ bind.host_path }}:{{ bind.container_path }}
{% endfor %}

[Network]
{% set ns = namespace(macvlans=[]) %}
{% set ns = namespace(veth=False) %}
{% set ns = namespace(private_network=True) %}
{% set ns = namespace(hostinterfaces=[]) %}
{% for network,parameters in container_combined_networks.items() %}
{%   if parameters['type'] == 'host' %}
{%     set ns.private_network = False %}
{%   elif parameters['type'] == 'macvlan' %}
{%     set _ = ns.macvlans.append(parameters['interface']) %}
{%   elif parameters['type'] == 'veth' %}
{%     set ns.veth = True %}
{%   elif parameters['type'] == 'hostinterface' %}
{%     set _ = ns.hostinterfaces.append(parameters['interface']) %}
{%   endif %}
{% endfor %}
{% if ns.private_network == False %}
Private=no
{% else %}
Private=yes
{%   if ns.veth == True %}
VirtualEthernet=yes
{%   endif %}
{%   if ns.macvlans | length > 0 %}
MACVLAN={{ ns.macvlans | unique | join(' ') }}
{%   endif %}
{%   if ns.hostinterfaces | length > 0 %}
Interface={{ ns.hostinterfaces | unique | join(' ') }}
{%   endif %}
{% endif %}
