# {{ ansible_managed }}

[Exec]
Boot=on
{% if deployment_environment_variables is defined %}
{%   for key, value in deployment_environment_variables.items() %}
Environment={{ key }}={{ value }}
{%   endfor %}
{% endif %}
MachineID={{ systemd_escape.stdout | to_uuid }}

[Files]
{% for ro_bind in nspawn_read_only_host_bindmount %}
BindReadOnly={{ ro_bind.source }}:{{ ro_bind.dest }}
{% endfor %}
{% for bind in container_default_bind_mounts | union(container_bind_mounts | default([])) %}
Bind={{ bind.mount_path }}:/{{ bind.bind_dir_path }}
{% endfor %}
{% for bind in nspawn_shared_host_bindmount %}
Bind={{ bind }}:{{ bind }}
{% endfor %}

[Network]
Private=yes
{% set macvlans = [] %}
{% set veth = False %}
{% set hostinterfaces = [] %}
{% for network,parameters in nspawn_combined_networks.items() %}
{%   if parameters['type'] == 'macvlan' %}
{%     set _ = macvlans.append(parameters['interface']) %}
{%   elif parameters['type'] == 'veth' %}
{%     set veth = True %}
{%   elif parameters['type'] == 'hostinterface' %}
{%     set _ = hostinterfaces.append(parameters['interface']) %}
{%   endif %}
{% endfor %}
{% if macvlans | length > 0 %}
MACVLAN={{ macvlans | unique | join(' ') }}
{% endif %}
{% if hostinterfaces | length > 0 %}
Interface={{ hostinterfaces | unique | join(' ') }}
{% endif %}
{% if veth == False %}
VirtualEthernet=yes
{% endif %}
