[Service]
{% if exec_pre is defined %}
{% for item in exec_pre %}
ExecStartPre={{ item }}
{% endfor %}
{% endif %}
ExecStart=
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot --link-journal=try-guest -U --machine=%i
{% if use_existing_netns is defined %}
NetworkNamespacePath=/run/netns/{{ use_existing_netns }}
{% endif %}
{% if exec_post is defined %}
{% for item in exec_post %}
ExecStartPost={{ item }}
{% endfor %}
{% endif %}
