[Service]
{% if exec_before is defined %}
ExecStartPre={{ exec_before }}
{% endif %}
ExecStart=
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot --link-journal=try-guest --network-namespace-path=/run/netns/ use_existing_netns }} -U --settings=override --machine=%i
